<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('menu_top_admin') %>


    <!-- Contenido principal -->
    <div class="container">
        <div class="admin-title">
            <h2>Posts</h2>
            <a href="/dashboard/add-post" class="button">+ Add New</a>
        </div>

        <ul class="admin-posts">
            <% data.forEach(post => { %>
                <li>
                    <a href="/post/<%= post._id %>">
                        <%= post.title %> &nearr;
                    </a>
                    <div class="admin-post-controls">
                        <a href="/dashboard/edit-post/<%= post._id %>" class="btn-edit btn" style="color:white;">Edit</a>
                        
                        <form action="/dashboard/delete-post/<%= post._id %>" method="POST" onsubmit="return confirm('¿Estás seguro de eliminar este artículo?');">
                            <input type="submit" value="Eliminar" class="btn-delete btn">
                          </form>
                          
                    </div>
                </li>
            <% }) %>
        </ul>  
    </div>

</body>
</html>
