<ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
  <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>

  <!-- Menú de Categorías -->
  <li class="has-children">
    <a href="#">Categorías</a>
    <ul class="dropdown">
      <% categories.forEach(category => { %>
        <li><a href="/category/<%= category.name %>"><%= category.name %></a></li>
      <% }) %>
    </ul>
  </li>

  <!-- Menú de Tags -->
  <li class="has-children">
    <a href="#">Tags</a>
    <ul class="dropdown">
      <% tags.forEach(tag => { %>
        <li><a href="/articles/tags/<%= tag._id %>"><%= tag.name %></a></li>
      <% }) %>
    </ul>
  </li>

  <!-- Menú de Usuarios -->
  <% if (!user) { %>
    <li><a href="/auth/signin">Sign In</a></li>
    <li><a href="/auth/register">Sign Up</a></li>
  <% } else { %>
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
        👤 <%= user.username %>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile/user">Mi Perfil</a></li>
        <li><a class="dropdown-item" href="/profile/logout">Cerrar Sesión</a></li>
      </ul>
    </li>
  <% } %>

  <!-- Enlace a Newsletter -->
  <li><a href="/newsletter"> Newsletter</a></li>
</ul>
