<div class="sidebar-box search-form-wrap mb-4">
  <h3 class="heading">  <%= searchByTitleOrContent %></h3>
  <%- include('../partials/keyword_search') %>
  </div>
  <!-- END sidebar-box -->
  <div class="sidebar-box">
    <h3 class="heading"><%= popularposts %></h3>
    <%- include('../partials/popular') %>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading"><%= categoriesList %></h3>
    <%- include('../partials/categories') %>
  </div>
  <!-- END sidebar-box -->

  <div class="sidebar-box">
    <h3 class="heading"><%= tagslist %></h3>
    <%- include('../partials/tags') %>
  </div>